<form>
  <p>
    <label for="name">Name</label>
    <span>{{model.name}}</span>
  </p>
  <p>
    <label for="currentHitPoints">Current Hit Points</label>
    {{input value=model.currentHitPoints type='number' focus-out='update'}}
  </p>
  <p>
    <label for="hitPoints">Maximum Hit Points</label>
    {{input value=model.hitPoints type='number' focus-out='update'}}
  </p>
  <p>
    <label for="initiative">Initiative</label>
    {{input value=model.initiative type='number' focus-out='update'}}
  </p>
  <p>
    <label for="armorClass">Armor Class</label>
    {{input value=model.armorClass type='number' focus-out='update'}}
  </p>
</form>
