{{#ember-wormhole to='sidebar'}}
  <h2>
    Player Characters
    {{#link-to 'player-characters.new' class='icon'}}{{icon 'add'}}{{/link-to}}
  </h2>
  <ul>
    {{#each (sort-by 'name' model) as |pc|}}
      <li>
        {{#link-to 'player-characters.details' pc.id}}{{pc.name}}{{/link-to}}
      </li>
    {{/each}}
  </ul>
{{/ember-wormhole}}
{{liquid-outlet enableGrowth=false}}
{{#ember-wormhole to='modal'}}
  {{#x-modal class=(if showCreateModal 'shown' 'hidden') as |id|}}
    <form {{action (route-action 'create' name) on='submit'}} class="modal">
      <p>
        <label for="{{id}}_name">Name</label>
        {{input id=(concat id '_name') value=name}}
      </p>
      <p class="actions">
        <button {{action (route-action 'cancelCreate')}} class="button">Cancel</button>
        <button type="submit" class="button primary">Save</button>
      </p>
    </form>
  {{/x-modal}}
{{/ember-wormhole}}
