<header>
  <h2>Encounter</h2>
</header>
<div class="subheader">
  <p class="sub" style="color: white; font-size: 3.2rem">{{model.encounter.name}}</p>
  <p class="actions">
    <button class="button danger" {{action (route-action 'delete' model.encounter)}}>Delete</button>
    {{list-popover label='Add PC' model=model.playerCharacters onSelect=(route-action 'addMonster')}}
    {{list-popover label='Add Monster' model=model.monsters onSelect=(route-action 'addMonster')}}
  </p>
</div>
<h3>Combatants</h3>
<table>
  <thead>
    <tr class="form subtle">
      <th style="width: calc(32px + 0.5rem);"><!-- Turn Indicator --></th>
      <th class="label em" style="width: 30%"></th>
      <th class="label">HP</th>
      <th class="label">AC</th>
      <th class="label">Init.</th>
      <th style="width: 32px;"><!-- Actions --></th>
    </tr>
  </thead>
  <tbody>
    {{#each model.encounter.arrangedCombatants as |part|}}
      {{show-combatant model=part
        onDelete=(route-action 'deleteParticipant' part)
        onUpdate=(route-action 'saveParticipant' part)
        onSetTurn=(route-action 'setTurn' part)}}
    {{/each}}
  </tbody>
</table>
