<header>
  <h2>Encounter</h2>
</header>
<div class="subheader">
  <p class="sub" style="color: white; font-size: 3.2rem">{{model.encounter.name}}</p>
  <p class="actions">
    <button class="button danger" {{action (route-action 'delete' model.encounter)}}>Delete</button>
    {{list-popover label='Add PC' model=model.playerCharacters onSelect=(route-action 'addMonster')}}
    {{list-popover label='Add Monster' model=model.monsters onSelect=(route-action 'addMonster')}}
  </p>
</div>
{{list-combatants combatants=model.encounter.arrangedCombatants
  onDelete=(route-action 'deleteParticipant')
  onUpdate=(route-action 'saveParticipant')
  onSetTurn=(route-action 'setTurn')}}
