<div class="column">
  <p>
    {{input id="name" value=name}}
    <label for="name">Name</label>
  </p>
  <p style="width: calc(50% - 1.0rem)">
    {{input id="hitPoints" value=model.hitPoints type='number'}}
    <label for="hitPoints">Hit Points</label>
  </p>
  <p style="width: calc(50% - 1.0rem)">
    {{input id="armorClass" value=model.armorClass type='number'}}
    <label for="armorClass">Armor Class</label>
  </p>
  <p style="width: calc(50% - 1.0rem)">
    {{input id="speed" value=model.speed type='number'}}
    <label for="speed">Speed (ft/round)</label>
  </p>
  <p style="width: calc(50% - 1.0rem)">
    {{input id="xp" value=model.xp type='number'}}
    <label for="xp">XP</label>
  </p>
</div>
<div class="column">
  <p>
    {{textarea id='notes' value=model.notes}}
    <label for="notes">Notes</label>
  </p>
</div>
