<div class="column">
  <p>
    {{input id="name" value=name}}
    <label for="name">Name</label>
  </p>
  <p style="width: calc(50% - 1.0rem)">
    {{input id="hitPoints" value=model.hitPoints type='number'}}
    <label for="hitPoints">Hit Points</label>
  </p>
  <p style="width: calc(50% - 1.0rem)">
    {{input id="armorClass" value=model.armorClass type='number'}}
    <label for="armorClass">Armor Class</label>
  </p>
  <p style="width: calc(50% - 1.0rem)">
    {{input id="speed" value=model.speed type='number'}}
    <label for="speed">Speed (ft/round)</label>
  </p>
  <p style="width: calc(50% - 1.0rem)">
    {{input id="xp" value=model.xp type='number'}}
    <label for="xp">XP</label>
  </p>
</div>
<div class="column">
  <p>
    {{textarea id='notes' value=model.notes}}
    <label for="notes">Notes</label>
  </p>
</div>
<p>
  <label>
    Attacks
    <a href {{action (action onAddAttack)}}>(Add)</a>
  </label>
  <table>
    <thead>
      <tr class="form inline">
        <th class="label em" style="width: 45%">Name</th>
        <th class="label">Attack Bonus</th>
        <th class="label">Damage Bonus</th>
        <th style="width: 32px;"></th>
      </tr>
    </thead>
    <tbody>
      {{#each (reject-by 'isDeleted' true model.attacks) as |attack|}}
        <tr class="form inline">
          <td class="em">
            <label>Name</label>
            {{input value=attack.name
              focus-out=(action (mut attack.name)) placeholder='–'}}
          </td>
          <td>
            <label>Attack Bonus</label>
            {{input value=attack.attackBonus type='number'
              focus-out=(action (mut attack.attackBonus)) placeholder='–'}}
          </td>
          <td>
            <label>Damage Bonus</label>
            {{input value=attack.damageBonus type='number'
              focus-out=(action (mut attack.damageBonus)) placeholder='–'}}
          </td>
          <td style="padding-left: 1.0rem;">
            <a href {{action (action 'deleteAttack' attack)}} class="button danger">&times;</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</p>
