<form {{action (route-action 'save') on='submit'}} class="traditional">
  <div class="subheader">
    <p class="sub" style="color: white; font-size: 3.2rem">
      {{if model.isNew 'Add Player Character' model.name}}
    </p>
    <p class="actions">
      {{#unless model.isNew}}
        <button class="button danger" {{action (toggle-action 'showDeleteConfirmationModal' this)}}>Delete</button>
      {{/unless}}
      {{#link-to 'player-characters.index' classNames='button'}}Cancel{{/link-to}}
      <button type="submit" class="button primary">Save</button>
    </p>
  </div>
  {{edit-player-character name=name model=model onSave=(route-action 'save')}}
</form>
{{#app-dialog shown=showDeleteConfirmationModal}}
  <form class="traditional modal">
    <p>
      <label class="wordy">Are you sure you want to delete this PC?</label>
    </p>
    <p class="actions">
      <button type="button" class="button subtle" {{action (toggle-action 'showDeleteConfirmationModal' this)}}>No</button>
      <button type="submit" class="button danger" {{action (route-action 'delete' model)}}>Yes</button>
    </p>
  </form>
{{/app-dialog}}
