<tr class="form subtle row-combatant {{if model.turn 'row-turn'}} {{if model.bloodied 'row-bloodied'}} {{if model.unconscious 'row-unconscious'}}">
  <td class="action">
    <a href {{action (action onSetTurn)}} class="icon set-turn">
      {{icon (if model.turn 'combat' 'blank')}}
    </a>
  </td>
  <td class="em">
    {{input value=(readonly model.name)
      key-up=(action actions.commitIfEnter)
      focus-out=(action (mut model.name))
      placeholder='–'}}
  </td>
  <td class="hit-points">
    {{input value=(readonly model.currentHitPoints)
      key-up=(action actions.commitIfEnter)
      focus-out=(action (mut model.currentHitPoints))
      type='number' classNames='hp-current' placeholder='–'}}
    <span>/</span>
    {{input value=(readonly model.hitPoints)
      key-up=(action actions.commitIfEnter)
      focus-out=(action (mut model.hitPoints))
      type='number' classNames='hp-total' placeholder='–'}}
  </td>
  <td class="other">
    {{input value=(readonly model.armorClass)
      key-up=(action actions.commitIfEnter)
      focus-out=(action (mut model.armorClass))
      type='number' placeholder='–'}}
  </td>
  <td class="other">
    {{input value=(readonly model.initiative)
      key-up=(action actions.commitIfEnter)
      focus-out=(action (mut model.initiative))
      type='number' placeholder='–'}}
  </td>
  <td class="action">
    {{#if model.notes}}
      <div data-action="notes" {{action (action onShowNotes)}}>{{icon 'notes'}}</div>
    {{/if}}
  </td>
  <td class="action">
    <a href {{action (action onDelete)}} class="icon danger">{{icon 'delete'}}</a>
  </td>
</tr>
{{#each model.attacks as |attack|}}
  <tr class="form inline row-attack {{if model.turn 'row-turn'}}">
    <td></td>
    <td class="inputesque-text">{{attack.name}}</td>
    <td class="inputesque-number">
      {{icon 'bonus-attack'}}
      {{format-modifier attack.attackBonus}}
    </td>
    <td class="inputesque-number">
      {{icon 'bonus-damage'}}
      {{format-modifier attack.damageBonus}}
    </td>
    <td></td>
    <td></td>
  </tr>
{{/each}}
