<tr class="form inline row-combatant {{if model.turn 'row-turn'}}">
  <td>
    <a href {{action (action onSetTurn)}} class="button tiny set-turn">{{if model.turn '>'}}</a>
  </td>
  <td class="em">
    <label for="name">Name</label>
    {{input value=model.name focus-out='update' placeholder='–'}}
  </td>
  <td>
    <label for="currentHitPoints">Current HP</label>
    {{input value=model.currentHitPoints type='number' focus-out='update' placeholder='–'}}
  </td>
  <td>
    <label for="hitPoints">Maximum HP</label>
    {{input value=model.hitPoints type='number' focus-out='update' placeholder='–'}}
  </td>
  <td>
    <label for="initiative">Initiative</label>
    {{input value=model.initiative type='number' focus-out='update' placeholder='–'}}
  </td>
  <td>
    <label for="armorClass">Armor Class</label>
    {{input value=model.armorClass type='number' focus-out='update' placeholder='–'}}
  </td>
  <td>
    <a href {{action (action 'destroy')}} class="button tiny danger">&times;</a>
  </td>
</tr>
{{#each model.attacks as |attack|}}
  <tr class="form inline row-attack {{if model.turn 'row-turn'}}">
    <td></td>
    <td class="inputesque">{{attack.name}}</td>
    <td class="inputesque">{{attack.attackBonus}}</td>
    <td class="inputesque">{{attack.damageBonus}}</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
{{/each}}
